{% layout 'layout.liquid' %}
{% block content %}
  <div>
    <h1>Welcome to the gems app</h1>
    <p>This app is all about Gems</p>
    <img
      src="https://df2sm3urulav.cloudfront.net/tenants/gr/uploads/content/5bb42c24baed4.jpg"
      alt="image of gems"
      height="200px">
  </div>
{% endblock %}